INE_IMX498INE_FOXCONN=/odm/etc/camera/tornado/imx498/
INE_IMX498INE_LITEON=/odm/etc/camera/tornado/imx498/
INE_IMX498INE_SUNNY=/odm/etc/camera/tornado/imx498/
INE_OV16B10INE_OFILM=/odm/etc/camera/tornado/ov16b10/
INE_OV16B10INE_LITEON=/odm/etc/camera/tornado/ov16b10/
INE_IMX576INE_OFILM=/odm/etc/camera/tornado/imx576/
INE_IMX576INE_LITEON=/odm/etc/camera/tornado/imx576/
INE_IMX576INE_FOXCONN=/odm/etc/camera/tornado/imx576/
