INE_IMX498INE_FOXCONN=/odm/etc/camera/davinci/imx498/
INE_IMX498INE_LITEON=/odm/etc/camera/davinci/imx498/
INE_IMX498INE_SUNNY=/odm/etc/camera/davinci/imx498/
INE_OV16B10INE_OFILM=/odm/etc/camera/davinci/ov16b10/
INE_OV16B10INE_LITEON=/odm/etc/camera/davinci/ov16b10/
INE_IMX576INE_OFILM=/odm/etc/camera/davinci/imx576/
INE_IMX576INE_LITEON=/odm/etc/camera/davinci/imx576/
INE_IMX576INE_FOXCONN=/odm/etc/camera/davinci/imx576/
