INE_IMX498INE_FOXCONN=/odm/etc/camera/configeffect/opticalzoom/imx498/
INE_IMX498INE_LITEON=/odm/etc/camera/configeffect/opticalzoom/imx498/
INE_IMX498INE_SUNNY=/odm/etc/camera/configeffect/opticalzoom/imx498/
INE_OV16B10INE_OFILM=/odm/etc/camera/configeffect/opticalzoom/ov16b10/
INE_OV16B10INE_LITEON=/odm/etc/camera/configeffect/opticalzoom/ov16b10/
