<?xml version="1.0" encoding="utf-8"?>
<PowerMonitorConfig>
  <PowerMonitor enable="1" skip_num="150" LVL1_bypass_time="120000" LVL1_temp_threshold="45" LVL1_max_fps="20" LVL2_bypass_time="240000" LVL2_temp_threshold="48" LVL2_max_fps="18" temp_node="/sys/class/thermal/thermal_zone8/temp" ForePortraitFPSLimit="1" ForePortraitMaxFps="24" />
  <PowerMonitor FBippenable="1"></PowerMonitor>
  <PowerMonitor FBFaceRatio="36"></PowerMonitor>
  <PowerMonitor FBFrameNum="6"></PowerMonitor>
</PowerMonitorConfig>
